@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #121212;
  --foreground: #ffffff;
  --accent: #ccff00;
  --card-bg: #1e1e1e;
  --border-color: #333333;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent {
  color: var(--accent);
}

.border-accent {
  border-color: var(--accent);
}
